# Binaries
*.exe
*.dll

# Xcode
*.xcodeproj
*.xcworkspace

# Eclipse
.cproject
.project
.settings/
Debug/

# NetBeans
/WOF/nbproject
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
*.inc
Makefile
test/

# Visual Studio
*.sln
*.vcxproj*
*.vs


# Mac
.DS_Store
__MACOSX/

# Windows
Thumbs.db

